<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="mapper.BlogContentMapper">  

    
    <select id="getLastPostByUserId" resultType="domain.BlogContent">
    		select * from tb_blogcontent where userid = #{userId} limit 5
    </select>
   
   	<select id="getCategoryByUserId" resultType="String">
   			select blogcategory from tb_blogcontent where userid = #{userId} group by blogcategory
   	</select>
   	
	<select id="getBlogContentByPage" resultType="domain.BlogContent">
			select * from tb_blogcontent where userid = #{param1} limit #{param2},5
	</select>
	
	<select id="getMaxPageNum" resultType="int">
		select count(*) from tb_blogcontent where userid = #{userId}
	</select>
	
	<select id="getBlogContent" resultType="domain.BlogContent">
		select * from tb_blogcontent where id = #{blogId} limit 1
	</select>
	
	<insert id="add">
		insert into tb_blogcontent(blogtitle,
		<if test="blogCategory != null">
		blogcategory,
		</if>
		recallnums,blogtext,blogcontent,time,blogpicture,userid)
		values (#{blogTitle},
		<if test="blogCategory != null">
		#{blogCategory},
		</if>
		#{recallNums},#{blogText},#{blogContent},#{time},#{blogPicture},#{userId})
	</insert>
	
	<update id="addRecallNums">
		update tb_blogcontent set recallnums=recallnums+1 where id=#{id}
	</update>
	
	<select id="getMaxPageNumByCategory" resultType="int">
		select count(0) from tb_blogcontent where blogcategory = #{param1} and userid = #{param2}
	</select>
	
	<select id="getByCategory" resultType="domain.BlogContent">
		select id,blogtitle,blogcategory,blogtext,time from tb_blogcontent where blogcategory = #{param1} 
		and userid = #{param3}
		limit #{param2},10
	</select>
	
	<select id="getCategories" resultType="String">
		select blogcategory from tb_blogcontent where userid = #{id} group by blogcategory;
	</select>
</mapper>  