<!DOCTYPE html>
<html lang="cn">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="favicon.ico">
		<title>All Post</title>
		<!-- Bootstrap core CSS -->
		<link href="css/blogapp/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/blogapp/font-awesome.min.css">
		<!-- Custom styles for this template -->
		<link href="css/blogapp/jquery.bxslider.css" rel="stylesheet">
		<link href="css/blogapp/style.css" rel="stylesheet">
	</head>

	<body>
		<div id="allpost">
			<!-- Navigation -->
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					</div>
					<div id="navbar" class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li>
								<a href="" id="homeNV">Home</a>
							</li>
							<li>
								<a href="" id="aboutme">About Me</a>
							</li>
							<li>
								<a href="applicationguide.html">Return Application Guide</a>
							</li>
						</ul>
					</div>
					<!--/.nav-collapse -->
				</div>
			</nav>

			<div class="container">
				<br><br><br><br>
				<section>
					<div class="row">
						<div class="col-md-12">
							<article class="blog-post">
								<div class="blog-post-body">
									<table class="table">
										<caption>
											<div class="form-horizontal">
												<div class="control-label col-lg-0">
												</div>
												<div class="col-lg-2">
													<select class="form-control" v-model="selected" v-on:change="changeCategory">
														<template v-for="item in categories">
															<option>{{item}}</option>
														</template>
													</select>
												</div>
											</div>

										</caption>

										<thead>
											<tr>
												<th>ID</th>
												<th>标题</th>
												<th>简文</th>
												<th>时间</th>
												<template v-if="currentUserId == requestId">
													<th>操作</th>
												</template>
											</tr>
										</thead>
										<tbody>
											<template v-for="item in blogContents">
												<tr>
													<td>{{item.id}}</td>
													<td>{{item.blogTitle}}</td>
													<td>{{item.blogCategory}}</td>
													<td>{{item.blogText}}</td>
													<td>{{item.time}}</td>
													<template v-if="currentUserId == requestId">
														<td>
															<button class="btn btn-primary">修改</button>
														</td>
														<td>
															<button class="btn btn-primary">删除</button>
														</td>
													</template>
												</tr>
											</template>
										</tbody>
									</table>
									<ul class="pagination">
										<li>
											<a href="#" v-on:click="goPage(pageNum-1)">&laquo;</a>
										</li>
										<template v-for="item in pageNumArray" id="pageTemplage">
											<li v-bind:class="{'active':item == pageNum}" v-bind:key="item">
												<a href="#" v-on:click="goPage(item)">{{item}}</a>
											</li>
										</template>
										<li>
											<a href="#" v-on:click="goPage(pageNum+1)">&raquo;</a>
										</li>
									</ul>
									<p>{{pageNum}}</p>
								</div>
							</article>
						</div>
					</div>
				</section>
			</div>
			<!-- /.container -->

		</div>

		<!-- Bootstrap core JavaScript
			================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="js/blogapp/jquery-3.2.1.min.js"></script>
		<script src="js/blogapp/bootstrap.min.js"></script>
		<script src="js/blogapp/jquery.bxslider.min.js"></script>
		<script src="js/blogapp/mooz.scripts.min.js"></script>
		<script src="js/blogapp/url.js"></script>
		<script src="js/interface/userInterface.js"></script>
		<script src="js/interface/checkUserAccount.js"></script>
		<script src="js/interface/blogInterface.js"></script>
		<script src="js/interface/getParm.js"></script>
		<script src="js/blogapp/vue.js"></script>
		<script>
			let v = new Vue({
				el: "#allpost",
				data: {
					currentUser: {},
					currentUserId: 0,
					user: {},
					requestId: 0,
					blogContents: {},
					pageNum: 0,
					maxPageNum: 0,
					categories: {},
					selected: "默认分类",
					pageNumArray: [],
					perPageNum: 5
				},
				methods: {
					changeCategory: function() {
						getAllPost(1, v.selected);
					},
					goPage: function(num) {
						if((num > 0) && (num <= v.maxPageNum)) {
							v.pageNum = num;
							getAllPost(num, v.selected);
						}
					},
				}
			})

			function getPageArray(maxPage, num) {
				if(num < v.perPageNum) { //如果当前的激活的项 小于要显示的条数
					//总页数和要显示的条数那个大就显示多少条
					let end = Math.min(v.perPageNum, maxPage);
					let tmpArray = new Array();
					let tmpIndex = 0;
					for(let i = 1; i <= end; i++) {
						tmpArray[tmpIndex] = i;
						tmpIndex++;
					}
					v.pageNumArray = tmpArray;
				} else { //当前页数大于显示页数了
					let start = num - Math.floor(v.perPageNum / 2); //从哪里开始
					if(start > (maxPage - v.perPageNum)) {
						start = (maxPage - v.perPageNum) + 1
					}
					let sub = maxPage - start;
					let tmpIndex = 0;
					let tmpArray = new Array();
					if(sub >= v.perPageNum) {
						for(let i = start; i <= start + v.perPageNum; i++) {
							tmpArray[tmpIndex] = i;
							tmpIndex++;
						}
					} else {
						for(let i = start; i <= maxPage; i++) {
							tmpArray[tmpIndex] = i;
							tmpIndex++;
						}
					}
					v.pageNumArray = tmpArray;
				}
			}

			function getAllPost(num, category) {
				v.requestId = parseInt(getQueryString('id'));
				let data = {
					id: v.requestId,
					category: encodeURI(category),
					pageNum: num
				}
				allPost(data, function(res) {
					if(res.success == 1) {
						v.blogContents = res.data.blogContents;
						v.categories = res.data.categories;
						v.maxPageNum = res.data.maxPageNum;
						v.user = res.data.user;
						v.pageNum = num;	
						$('#homeNV').attr('href', 'blogindex.html?id=' + res.data.user.id);
						$("#aboutme").attr('href', 'person.html?name=' + res.data.user.name);
						getPageArray(res.data.maxPageNum, num);
					} else {
						alert(res.data);
					}
				})
			}

			$(document).ready(function() {
				getWho(function(res) {});
				getAllPost(1, '默认分类');
			})
		</script>
	</body>

</html>