<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="favicon.ico">
		<title>Blog</title>
		<!-- Bootstrap core CSS -->
		<link href="css/blogapp/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/blogapp/font-awesome.min.css">
		<!-- Custom styles for this template -->
		<link href="css/blogapp/jquery.bxslider.css" rel="stylesheet">
		<link href="css/blogapp/style.css" rel="stylesheet">
	</head>

	<body id="body">
		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li>
							<a href="" id="homeNV">Home</a>
						</li>
						<li>
							<a href="about.html">All Posts</a>
						</li>
						<li>
							<a href="#" id="writeblog">Write a blog</a>
						</li>
						<li>
							<a href="about.html" id="aboutme">About Me</a>
						</li>
						<li>
							<a href="applicationguide.html">Return Application Guide</a>
						</li>
					</ul>

				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>

		<div class="container">
			<br><br><br><br>

			<br><br><br>

			<section id="index">
				<div class="row">
					<div class="col-md-8">
						<article class="blog-post" v-for="item in blogContents">
							<div class="blog-post-image">
								<template v-if="maxPageNum != 0">
									<a v-bind:href="'post.html?blogId='+item.id"> <img v-bind:src="item.blogPicture" alt="" height="500" width="750"></a>
								</template>
							</div>
							<div class="blog-post-body">
								<h2><a v-bind:href="'post.html?blogId='+item.id">{{item.blogTitle}}</a></h2>
								<template v-if="maxPageNum != 0">
									<div class="post-meta"><span>by <a>{{userName}}</a></span>/<span><i class="fa fa-clock-o"></i>{{item.time}}</span>/<span><i class="fa fa-comment-o"></i> <a>{{item.recallNums}}</a></span></div>
									<p>{{item.blogText}}</p>
									<div class="read-more">
										<a v-bind:href="'post.html?blogId='+item.id">Continue Reading</a>
									</div>
								</template>
							</div>
						</article>

						<template v-if="maxPageNum != 0">
							<div>
								<ul class="pager">
									<li class="previous">
										<a v-on:click="getPrePage">&larr; Previous</a>
									</li>
									<li class="next">
										<a v-on:click="getNextPage">Next &rarr;</a>
									</li>
								</ul>
							</div>
						</template>
					</div>

					<div class="col-md-4 sidebar-gutter">
						<aside>
							<!-- sidebar-widget -->
							<div class="sidebar-widget">
								<h3 class="sidebar-title">About Me</h3>
								<div class="widget-container widget-about">
									<a><img v-bind:src="blogUser.userIcon" alt="" height="420" width="640"></a>
									<h4><a v-bind:href="'person.html?name='+userName">{{userName}}</a></h4>
									<p>{{blogUser.userDescription}}</p>
								</div>
							</div>
							<!-- sidebar-widget -->
							<div class="sidebar-widget">
								<h3 class="sidebar-title">Featured Posts</h3>
								<div class="widget-container">
									<article class="widget-post" v-for="item in lastBlogContents">
										<div class="post-image">
											<template v-if="maxPageNum != 0">
												<a v-bind:href="'post.html?blogId='+item.id"><img v-bind:src="item.blogPicture" alt="" height="60" width="90"></a>
											</template>
										</div>
										<div class="post-body">
											<h2><a v-bind:href="'post.html?blogId='+item.id">{{item.blogTitle}}</a></h2>
											<div class="post-meta">
												<template v-if="maxPageNum != 0">
													<span><i class="fa fa-clock-o"></i> {{item.time}}</span> <span><a><i class="fa fa-comment-o"></i> {{item.recallNums}}</a></span>
												</template>
											</div>
										</div>
									</article>
								</div>
							</div>
							<!-- sidebar-widget 类别
							<div class="sidebar-widget">
								<h3 class="sidebar-title">Categories</h3>
								<div class="widget-container">
									<ul>
										<li v-for="item in categories">
											<a href="#">{{item}}</a>
										</li>
									</ul>
								</div>
							</div>
							-->
							<div class="sidebar-widget">
								<h3 class="sidebar-title">You Family</h3>
								<div class="widget-container">
									<ul>
										<li v-for="item in family">
											<a v-bind:href="'blogindex.html?id='+item.id">{{item.name}}</a>
										</li>
									</ul>
								</div>
							</div>
					</div>
					</aside>
				</div>
		</div>
		</section>
		</div>

		<script src="js/blogapp/jquery-3.2.1.min.js"></script>
		<script src="js/blogapp/bootstrap.min.js"></script>
		<script src="js/blogapp/jquery.bxslider.min.js"></script>
		<script src="js/blogapp/mooz.scripts.min.js"></script>
		<script src="js/blogapp/vue.js"></script>
		<script src="js/interface/blogInterface.js"></script>
		<script src="js/blogapp/url.js"></script>
		<script src="js/interface/getParm.js"></script>
		<script src="js/interface/userInterface.js"></script>
		<script src="js/interface/checkUserAccount.js"></script>
		<script>
			let v = new Vue({
				el: '#index',
				data: {
					blogUser: {},
					categories: {},
					blogContents: {},
					lastBlogContents: {},
					userName: '',
					currentUser: '',
					currentUserId: 0,
					family: {},
					pageNum: 0,
					maxPageNum: 0,
					requestId: 0
				},
				methods: {
					getPrePage: function() {
						if(v.pageNum - 1 >= 0) {
							v.pageNum = v.pageNum - 1;
							let data = {
								id: v.requestId,
								pageNum: v.pageNum
							}
							getByPage(data, function(res) {
								refreshData(res)
							})
						}
					},
					getNextPage: function() {
						if(v.pageNum + 1 < v.maxPageNum) {
							v.pageNum = v.pageNum + 1;
							let data = {
								id: v.requestId,
								pageNum: v.pageNum
							}
							getByPage(data, function(res) {
								refreshData(res)
							})
						}
					}
				}
			})

			function refreshData(res) {
				if(res.success == 1) {
					v.blogContents = res.data;
				} else {
					alert(res.data);
				}
				window.scrollTo(0, 0);
			}

			$(document).ready(function() {
				getWho(function(res) {})
				v.requestId = parseInt(getQueryString('id'));
				let data = {
					id: v.requestId
				}
				index(data, function(res) {
					if(res.success == 1) {
						v.blogUser = res.data.blogUser;
						v.categories = res.data.categories;
						v.blogContents = res.data.blogContents;
						v.lastBlogContents = res.data.blogContents;
						v.userName = res.data.userName;
						v.pageNum = res.data.pageNum;
						v.maxPageNum = res.data.maxPageNum;
						v.family = res.data.family;
						$('#homeNV').attr('href', 'blogindex.html?id=' + res.data.blogUser.userId);
						$("#aboutme").attr('href', 'person.html?name=' + res.data.userName);
					} else {
						$("#body").html('<p>数据不存在</p>');
					}
				})
			})
		</script>
	</body>

</html>