<!DOCTYPE html>
<head>
	<title>登录</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="css/blogapp/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="css/blogapp/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="css/blogapp/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="css/blogapp/templatemo_style.css" rel="stylesheet" type="text/css">	
</head>
<body class="templatemo-bg-gray">
	<div class="container">
		<div class="col-md-12">
			<h1 class="margin-bottom-15">登录</h1>
			<form class="form-horizontal templatemo-container templatemo-login-form-1 margin-bottom-30" role="form" action="#" method="post" id="loginForm">				
		        <div class="form-group">
		          <div class="col-xs-12">		            
		            <div class="control-wrapper">
		            	<label for="username" class="control-label fa-label"><i class="fa fa-user fa-medium"></i></label>
		            	<input type="text" class="form-control" id="username" placeholder="用户名" v-model="name">
		            </div>		            	            
		          </div>              
		        </div>
		        <div class="form-group">
		          <div class="col-md-12">
		          	<div class="control-wrapper">
		            	<label for="password" class="control-label fa-label"><i class="fa fa-lock fa-medium"></i></label>
		            	<input type="password" class="form-control" id="password" placeholder="密码" v-model="password">
		            </div>
		          </div>
		        </div>
		        <div class="form-group">
		          <div class="col-md-12">
	             	<div class="checkbox control-wrapper">
	                	<label>
	                  		<input type="checkbox"> 记录密码
                		</label>
	              	</div>
		          </div>
		        </div>
		        <div class="form-group">
		          <div class="col-md-12">
		          	<div class="control-wrapper">
		          		<input type="button" value="登录" class="btn btn-info" v-on:click="login">
		          		<a href="resetpassword.html" class="text-right pull-right">忘记密码?</a>
		          	</div>
		          </div>
		        </div>
		        <hr>
		      </form>
		      <div class="text-center">
		      	<a href="register.html" class="templatemo-create-new">创建一个新的账户 <i class="fa fa-arrow-circle-o-right"></i></a>	
		      </div>
		</div>
	</div>
	
	<script type="text/javascript" src="js/blogapp/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/blogapp/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/blogapp/vue.js"></script>
	<script type="text/javascript" src="js/blogapp/url.js" ></script>
	<script>
		window.tmpUser = "bikli";
		let v = new Vue({
			el:'#loginForm',
			data:{
				name:'',
				password:'',
			},
			methods:{
				login:function() {
					let nameFlag = v.name != '';
					let passwordFlag = v.password != '';
					let data = {
						name:v.name,
						password:v.password,
					};
					if (nameFlag && passwordFlag) {
						sendAJAX('get', '/user/login', data, function(result) {
							do{
								if (result.success != 1) {
									break;
								}
								let returnUrl = '';
								let level = result.data.level;
								if (level == 1) {
									returnUrl = 'index.html';
								} else if (level == 2) {
									returnUrl = 'applicationguide.html';
								}
								window.location = returnUrl;
								return;
							}while(false)
							alert('用户名和密码错误');
						})
					} else {
						alert('用户名或密码为空');
					}
				}
			}
		})
	</script>
</body>
</html>